---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Sobre mí"

const identity = {
  firstName: "Mayra",
  country: "Argentina",
  ocupation: "Web Developer",
  hobbies: ["escribir", "jardinería"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = 'green';
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            .skill{
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>

        <p>Estoy desarrollando mi primer página web utilizando Astro, siguiendo el tutorial,
            about es la segunda página.
        </p>
        <p>El repositorio está desplegado en modo local y remoto, las actualizaciones subidas a github
            están conectadas con el deploy hecho en Netlify.
        </p>
        <a href="https://cortinezblogastro.netlify.app/">Visita mi sitio web</a>
	
        <p>He aquí algunos datos sobre mí:</p>
        <ul>
            <li>
                Me llamo {identity.firstName}. 
            </li>
            <li>
                Vivo en {identity.country} y trabajo como {identity.ocupation}.
            </li>
            {identity.hobbies.length >= 2 &&
                <li> Dos de mis aficiones son: {identity.hobbies[0]} 
                y {identity.hobbies[1]}.
                </li>
            }
        </ul>
        <p>Mis habilidades son:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
    
        {happy && <p>¡Estoy feliz de aprender Astro!</p>}
        {finished && <p>¡He terminado este tutorial!</p>}
        {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días

        </p>}
 </BaseLayout>
</html>
